<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="Endpoint" value="https://api.ebay.com/wsapi"/>
    <add key="AppID" value="KevinWei-Test-PRD-25d7a0307-a9330e4a"/>
    <add key="DevID" value="a6cb408d-cbde-4f5b-800d-a2d50f8b1d4f"/>
    <add key="CertID" value="PRD-5d7a03078d48-38e0-46ca-a4b5-78e3"/>
    <add key="Token" value="AgAAAA**AQAAAA**aAAAAA**JHuIWg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AEkYqgC5GHpgmdj6x9nY+seQ**MSQEAA**AAMAAA**qAz8OEOpAQOkmQGW/tc6iFwCLieoSTMywErUh9QaGIJk8/vVtMGGSWEo4mz916raEycwkqvVF5Exn6yM7K+PkQKvVS9w0w5bI1N+KyG6OuBxrqizywiWtCYRNgydx4mnLPpVw4Isc8v4REUgnbDh1i4I35MN+xSG3cV0v4tsgNyPJMkL+sNFKAhtFWYPyYOy28K0gn7UYhPZFuwdp7ghFiFCNQwXfeMLWkgXkCruzNHcAw3Ot2EmkUMGcA3LXrKI0L+BYhPVPpGegwixP3tqaIlg4dCIzM7GwAzQcH7ZF5qbpKsY+l8Boen48ZPbVk7JyvnLv4wwPbuNc6WXn2jx7GOdwpgqsrp6QuMkqKc9JrafuhGN+xjojARI8MB5rZ+l1wp4IiHTHeND26YIlP+w/5b4c7du4CWGVwpWiQYZwHcQlds2UPC9kd068AU+43wUwtVKCnrtVDKpt0vvw1+Vh5TlzRmY2C5OjyFxpQFYLdd0rfe1VLQJFeFrJF5/F04JyzQLjkL+tavWTD7bH2NTWcUnbt2Le7fxHWc0004gvKTizKDGZkqAy6MJkzbycKTRCGI+MPN9T4RqIqEPtH2BKXK9DDF2+cqQa1F/pO2TS+L8lHW8A0woEIfwatfADPBwXxLEHUTqLMNVeMvr72lO7581UwuMniBXtHheDlEmQ9x7yC73OD24qMEElGBotpNXLCXWfG7OCrkv3+lOMta6vzufHJ6wL7ILdIHdjTnSjTxpuG3ANcwtRsZ28RTHdDtJ"/>
  </appSettings>
  <connectionStrings>
    <add name="OPWContext" connectionString="Data Source=tcp:sql2k1602.discountasp.net;Initial Catalog=SQL2016_1004776_opw;User ID=SQL2016_1004776_opw_user;Password=k3918834;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
